
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscar_producto{
    display: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0288D1;
    padding: 0px 15px;
}

.titulo_principal{
    display: flex;
    padding-left: 0px;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1A237E;
}

.img_perfil, .img_busqueda, .img_carrito{
    width: 11vw;
    height: 4.9vh;
    margin-top: 7px;
    margin-left: 5px;
}

.presentacion{
    height: 270px;
    background-image: linear-gradient(
        0deg,
        rgba(56, 47, 47, 0.5),
        rgba(73, 71, 71, 0.5)
    ) 
    ,url("../imagenes/fondo_compras.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 210px;
    padding: 7px 3px 0px 3px;
    max-width: 100%;
}

.informacion h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.4em;
    color: #FFFFFF;
    text-align: center;
    padding-top: -30px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.7);
}

.informacion p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    color: #E0E0E0;
    text-align: center;
    padding: auto;
    margin: 5px 10px 10px 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.informacion button{
    color: #FFFFFF;
    width: 170px;
    height: 55px;
    border-radius: 10px;
    background: linear-gradient(135deg, #1E88E5, #42A5F5);
    /*background-color: #1E88E5;*/
    border: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease, transform 0.3s ease;
}

.informacion button:hover{
    /*background-color: #1565C0;*/
    background: linear-gradient(135deg, #1565C0, #1E88E5);
    transform: translateY(-2px);
    cursor: pointer;
}

.productos{
    height: auto;
    background-color: #F3F4F6;
}

.productos h3{
    text-align: center;
    padding: 10px;
    letter-spacing: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.contenedor_productos{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #dfe2f6;
    
}

.producto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    background-color: #FFFFFF;
    box-shadow:  #B0BEC5 0px 0px 10px;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(65, 13, 13, 0.1);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 3px;
}

.producto_informacion{
    margin-top: 0px;
    margin-left: 40px;
}

.producto_informacion button{
    width: 140px;
    height: 40px;
    border-radius: 10px;
    /*background-color: #E8E2E2;*/
    background: linear-gradient(135deg, #E57373, #EF5350);
    border: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transition: background 0.3s ease, transform 0.3s ease;
    color: #FFFFFF;
    margin-right: 16px;
    margin-right: 40px;
}

.producto_informacion button:hover {
    background: linear-gradient(135deg, #D32F2F, #E57373); /* Cambia el degradado en hover */
    transform: translateY(-2px); /* Efecto de elevación en hover */
    cursor: pointer;
}

.producto_informacion h3{
    color: #1A237E;
    letter-spacing: 3px;
    padding-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-right: 30px;
    
}
.producto_informacion p{
    color: #424242;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-align: start;
}
.producto img{
    margin-top: 0px;
    width: 100%;
    height: auto;
}

.producto h2, p{
    margin: 10px 0px;
}

.lista_categorias a{
    text-decoration: none;
    color: #1E201E;
    font-size: 1.1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}

.carrito {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.contenido_carrito {
    background-color: #fefefe;
    margin: 60px auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 280px;
    max-width: 480px; 
    border-radius: 10px;
    position: relative;
}

.cerrar_ventana{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

@media (width> 550px) {
    /* Mostrar barra de navegación en pantallas más grandes */
    .buscar_producto{
        display: flex; 
        margin-right: 15px; /* Espacio entre la lupa y el menú */
        align-items: center; /* Alinear verticalmente en el centro */
        flex-grow: 2;
        width: 35vw;
        height: 30px;
    }

    header{
        justify-content: space-between;
    }

    /* Ajustar el tamaño de las imágenes en pantallas más grandes */
    .img_perfil, .img_busqueda, .img_carrito{
        width: clamp(30px, 6vw, 40px); /* Establecer un ancho máximo de 60px */
        height: 40px; /* Mantener la proporción de la imagen */
        max-height: 50px;
    }

    /* Opcional: Reducir el tamaño del contenedor de navegación si es necesario */
    nav {
        display: flex;
        align-items: center;
    }

    .img_busqueda {
        margin-right: 2vw;
    }
    .titulo_principal h1{
        margin-right: 20px;
    }
    input{
        width: 100vw;
        height: 34px;
        border-radius: 10px;
        border: none;
        padding-left: 30px;
        margin-left: 10px;
    }
    .img_perfil{
        margin-left: 8vw;
    }
}

@media(width> 510px){
    .lista_categorias{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(width> 742px){
    button{
        margin-top: 15px;
    }
    p{
        text-align: center;
        font-size: 1.3em;
        line-height: 1.3;
    }
    .lista_categorias a{
        font-size: 13px;
    }
}

@media(width> 1005px){
    .presentacion{
        height: 350px;
    }
    p{
        max-width: 600px;
    }
    .informacion button{
        width: 250px;
        height: 70px;
    }
}

